* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: unset;
    font-style: normal;
    background-color: #cec1c18f;
    color: #020202;
    line-height: 1.6;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    background: #e0dfdf;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile {
    text-align: center;
    padding: 20px;
}

.profile-img {
    width: 150px;
    border-radius: 5%;
    margin-bottom: 10px;
}


.about {
    margin-bottom: 20px;
    text-align: center;
}

.social {
    text-align: center;
    margin-bottom: 25px;
}

.social a:hover {
    background-color: rgb(3, 175, 175);
    border-radius: 7px;
}

.icon:hover {
    transition: all 0.65s;
    transform: rotateX(360deg);
}

.section h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #007BFF;
}

.section ul {
    list-style-type: none;
}

.section ul li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.section li:hover {
    background-color: #fcfafa;
}

.work { 
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 25px;
}

.table {
    width: 100%;
    border-spacing: 0;
}

.table thead {
    text-align: left;
}



.table td:nth-child(1), td:nth-child(3) {
    background-color: rgb(226, 236, 236);
}

.table td:nth-child(2) {
    background-color: rgb(209, 218, 209);
}

.table td:hover{
    background: #fcfafa;
}

.work h2 {
    text-align: center;
    color: #007BFF;
} 


.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #0056b3;
}

/* Адаптивная вёрстка */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .profile-img {
        width: 75px;
    }
}
